html
 head
  title Pug Form
 body
  h2 Student Form
  form(action="/data",method="get")
   div
    label Enter Your Name
    input(type="text", name="name")
   div
    label Enter Your Email
    input(type="email", name="email")
   div
    label course
     input(type="radio", name="course", value="IT",id="IT")
     |IT
     input(type="radio", name="course", value="CE",id="CE")
     |CE
     input(type="radio", name="course", value="CSE",id="CSE")
     |CSE 
   div
    input(type="submit",value="Submit")